/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/*
 Website by
  _____                _         _
 |_   _|__  _   _  ___| |__   __| |_ __ ___  __ _ _ __ ___  ___
   | |/ _ \| | | |/ __| '_ \ / _` | '__/ _ \/ _` | '_ ` _ \/ __|
   | | (_) | |_| | (__| | | | (_| | | |  __/ (_| | | | | | \__    |_|\___/ \__,_|\___|_| |_|\__,_|_|  \___|\__,_|_| |_| |_|___/ .co.za

 */
/* Import Sass mixins, variables, Compass modules, etc. */
/**
 * Variables
 */
/* used by buttons */
/* used by table cells and text fields */
/* used in width functions */
/* 480px @ 16px font size */
/* 960px @ 16px font size */
/* 1280px @ 16px font size */
/* 480px @ 16px font size */
/* 960px @ 16px font size */
/* 1280px @ 16px font size */
/* depth (z-index) */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* HTML element (SMACSS base) rules */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1, .info_title {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
  CONTENTS

  UI Consistency
  Buttons
  Text fields
  Other form elements
  Disableds
 */
/* -----------------------------------------------------------------------------
                                                            UI Consistency
*/
input[type="search"]::-webkit-search-decoration {
  display: none; }

fieldset {
  min-width: 0; }

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none; }

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  outline: 3px solid rgba(80, 134, 43, 0.35);
  outline-offset: -2px;
  z-index: 1; }

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 0.85em; }

input[type="radio"][data-values-status="mixed"],
input[type="checkbox"][data-values-status="mixed"] {
  box-shadow: 0 0 4px #ffcf00; }

/* -----------------------------------------------------------------------------
                                                            Buttons
*/
button,
a.button,
a[role="button"],
input[type="reset"],
input[type="submit"],
input[type="button"],
.ui-widget.ui-widget-content button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0.4em;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  text-decoration: none;
  width: auto;
  font-size: 0.9em;
  margin: 0.4em;
  vertical-align: baseline;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.6em 1.2em;
  position: relative;
  height: 40px;
  box-sizing: border-box;
  box-shadow: none;
  background: none;
  color: #0099cb; }
  button:hover, button:focus,
  a.button:hover,
  a.button:focus,
  a[role="button"]:hover,
  a[role="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  .ui-widget.ui-widget-content button:hover,
  .ui-widget.ui-widget-content button:focus {
    text-decoration: none; }
  button:focus,
  a.button:focus,
  a[role="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus,
  input[type="button"]:focus,
  .ui-widget.ui-widget-content button:focus {
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.75); }
  button:active,
  a.button:active,
  a[role="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  input[type="button"]:active,
  .ui-widget.ui-widget-content button:active {
    background-color: scale-lightness(#D57C25, -15%); }
  button.active,
  a.button.active,
  a[role="button"].active,
  input[type="reset"].active,
  input[type="submit"].active,
  input[type="button"].active,
  .ui-widget.ui-widget-content button.active {
    background-image: -webkit-linear-gradient(#0099cb, #0087b3);
    background-image: linear-gradient(#0099cb, #0087b3);
    color: white; }
    button.active:hover, button.active:focus,
    a.button.active:hover,
    a.button.active:focus,
    a[role="button"].active:hover,
    a[role="button"].active:focus,
    input[type="reset"].active:hover,
    input[type="reset"].active:focus,
    input[type="submit"].active:hover,
    input[type="submit"].active:focus,
    input[type="button"].active:hover,
    input[type="button"].active:focus,
    .ui-widget.ui-widget-content button.active:hover,
    .ui-widget.ui-widget-content button.active:focus {
      background: #0082ad; }
    button.active:active,
    a.button.active:active,
    a[role="button"].active:active,
    input[type="reset"].active:active,
    input[type="submit"].active:active,
    input[type="button"].active:active,
    .ui-widget.ui-widget-content button.active:active {
      background: #007398; }
  button[disabled].raised, .form-actions button[disabled][type="submit"],
  .form-actions button[disabled][type="button"], .form-actions a[disabled].button[type="submit"],
  .form-actions a[disabled].button[type="button"], .form-actions a[disabled][role="button"][type="submit"],
  .form-actions a[disabled][role="button"][type="button"], .form-actions input[disabled][type="submit"],
  .form-actions input[disabled][type="button"], .form-actions
  .ui-widget.ui-widget-content button[disabled][type="submit"],
  .form-actions
  .ui-widget.ui-widget-content button[disabled][type="button"],
  a.button[disabled].raised,
  a[role="button"][disabled].raised,
  input[type="reset"][disabled].raised,
  input[type="submit"][disabled].raised,
  input[type="button"][disabled].raised,
  .ui-widget.ui-widget-content button[disabled].raised,
  .ui-widget.ui-widget-content .form-actions button[disabled][type="submit"],
  .ui-widget.ui-widget-content
  .form-actions button[disabled][type="button"],
  .ui-widget.ui-widget-content .form-actions a[disabled].button[type="submit"], .form-actions
  .ui-widget.ui-widget-content a[disabled].button[type="submit"],
  .ui-widget.ui-widget-content
  .form-actions a[disabled].button[type="button"],
  .form-actions
  .ui-widget.ui-widget-content a[disabled].button[type="button"],
  .ui-widget.ui-widget-content .form-actions a[disabled][role="button"][type="submit"], .form-actions
  .ui-widget.ui-widget-content a[disabled][role="button"][type="submit"],
  .ui-widget.ui-widget-content
  .form-actions a[disabled][role="button"][type="button"],
  .form-actions
  .ui-widget.ui-widget-content a[disabled][role="button"][type="button"],
  .ui-widget.ui-widget-content .form-actions input[disabled][type="submit"], .form-actions
  .ui-widget.ui-widget-content input[disabled][type="submit"],
  .ui-widget.ui-widget-content
  .form-actions input[disabled][type="button"],
  .form-actions
  .ui-widget.ui-widget-content input[disabled][type="button"], .form-actions .ui-widget.ui-widget-content button[disabled][type="submit"],
  .form-actions .ui-widget.ui-widget-content button[disabled][type="button"] {
    background: #ADADAD;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: none; }
  button.flat,
  a.button.flat,
  a[role="button"].flat,
  input[type="reset"].flat,
  input[type="submit"].flat,
  input[type="button"].flat,
  .ui-widget.ui-widget-content button.flat {
    background: none;
    border: none;
    color: #0099cb;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-shadow: none; }
    button.flat:hover, button.flat:focus,
    a.button.flat:hover,
    a.button.flat:focus,
    a[role="button"].flat:hover,
    a[role="button"].flat:focus,
    input[type="reset"].flat:hover,
    input[type="reset"].flat:focus,
    input[type="submit"].flat:hover,
    input[type="submit"].flat:focus,
    input[type="button"].flat:hover,
    input[type="button"].flat:focus,
    .ui-widget.ui-widget-content button.flat:hover,
    .ui-widget.ui-widget-content button.flat:focus {
      background: rgba(0, 0, 0, 0.1);
      color: adjust-lightness(#333, -0.2); }
    button.flat:active,
    a.button.flat:active,
    a[role="button"].flat:active,
    input[type="reset"].flat:active,
    input[type="submit"].flat:active,
    input[type="button"].flat:active,
    .ui-widget.ui-widget-content button.flat:active {
      background: none;
      box-shadow: none;
      border: none; }
    button.flat.active,
    a.button.flat.active,
    a[role="button"].flat.active,
    input[type="reset"].flat.active,
    input[type="submit"].flat.active,
    input[type="button"].flat.active,
    .ui-widget.ui-widget-content button.flat.active {
      color: adjust-lightness(#333, -15%); }
  button.raised, .form-actions button[type="submit"],
  .form-actions button[type="button"], .form-actions a.button[type="submit"],
  .form-actions a.button[type="button"], .form-actions a[role="button"][type="submit"],
  .form-actions a[role="button"][type="button"], .form-actions input[type="reset"][type="submit"],
  .form-actions input[type="reset"][type="button"], .form-actions input[type="submit"], .form-actions input[type="button"][type="submit"],
  .form-actions input[type="button"], .form-actions
  .ui-widget.ui-widget-content button[type="submit"],
  .form-actions
  .ui-widget.ui-widget-content button[type="button"],
  a.button.raised,
  a[role="button"].raised,
  input[type="reset"].raised,
  input[type="submit"].raised,
  input[type="button"].raised,
  .ui-widget.ui-widget-content button.raised,
  .ui-widget.ui-widget-content .form-actions button[type="submit"],
  .ui-widget.ui-widget-content
  .form-actions button[type="button"],
  .ui-widget.ui-widget-content .form-actions a.button[type="submit"], .form-actions
  .ui-widget.ui-widget-content a.button[type="submit"],
  .ui-widget.ui-widget-content
  .form-actions a.button[type="button"],
  .form-actions
  .ui-widget.ui-widget-content a.button[type="button"],
  .ui-widget.ui-widget-content .form-actions a[role="button"][type="submit"], .form-actions
  .ui-widget.ui-widget-content a[role="button"][type="submit"],
  .ui-widget.ui-widget-content
  .form-actions a[role="button"][type="button"],
  .form-actions
  .ui-widget.ui-widget-content a[role="button"][type="button"],
  .ui-widget.ui-widget-content .form-actions input[type="submit"], .form-actions
  .ui-widget.ui-widget-content input[type="submit"],
  .ui-widget.ui-widget-content
  .form-actions input[type="button"],
  .form-actions
  .ui-widget.ui-widget-content input[type="button"], .form-actions .ui-widget.ui-widget-content button[type="submit"],
  .form-actions .ui-widget.ui-widget-content button[type="button"] {
    box-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.1);
    background: #6f6f6f;
    color: white;
    text-shadow: -0.03em -0.03em 0.04em rgba(0, 0, 0, 0.3); }
  .floating button, .floating
  a.button, .floating
  a[role="button"], .floating
  input[type="reset"], .floating
  input[type="submit"], .floating
  input[type="button"], .floating
  .ui-widget.ui-widget-content button {
    display: block;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.46); }
  button::-moz-focus-inner,
  a.button::-moz-focus-inner,
  a[role="button"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  .ui-widget.ui-widget-content button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button.primary, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit,
  a.button.primary,
  a[role="button"].primary,
  input[type="reset"].primary,
  input[type="submit"].primary,
  input[type="button"].primary,
  .ui-widget.ui-widget-content button.primary,
  .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
  .ui-widget.ui-widget-content input.submit {
    background: #669608;
    color: white; }
    button.primary:hover, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:hover, button.primary:focus, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:focus,
    a.button.primary:hover,
    a.button.primary:focus,
    a[role="button"].primary:hover,
    a[role="button"].primary:focus,
    input[type="reset"].primary:hover,
    input[type="reset"].primary:focus,
    input[type="submit"].primary:hover,
    input[type="submit"].primary:focus,
    input[type="button"].primary:hover,
    input[type="button"].primary:focus,
    .ui-widget.ui-widget-content button.primary:hover,
    .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:hover, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
    .ui-widget.ui-widget-content input.submit:hover,
    .ui-widget.ui-widget-content button.primary:focus,
    .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:focus, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
    .ui-widget.ui-widget-content input.submit:focus {
      background: #447225; }
    button.primary:active, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:active,
    a.button.primary:active,
    a[role="button"].primary:active,
    input[type="reset"].primary:active,
    input[type="submit"].primary:active,
    input[type="button"].primary:active,
    .ui-widget.ui-widget-content button.primary:active,
    .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:active, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
    .ui-widget.ui-widget-content input.submit:active {
      background: #3c6520; }
    button.primary[disabled], .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input[disabled].submit,
    a.button.primary[disabled],
    a[role="button"].primary[disabled],
    input[type="reset"].primary[disabled],
    input[type="submit"].primary[disabled],
    input[type="button"].primary[disabled],
    .ui-widget.ui-widget-content button.primary[disabled],
    .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input[disabled].submit, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
    .ui-widget.ui-widget-content input[disabled].submit {
      background-image: -webkit-linear-gradient(scale-saturation(#50862B, -50%), scale-saturation(#467626, -50%));
      background-image: linear-gradient(scale-saturation(#50862B, -50%), scale-saturation(#467626, -50%));
      color: rgba(255, 255, 255, 0.6); }
  button.pointing-left,
  a.button.pointing-left,
  a[role="button"].pointing-left,
  input[type="reset"].pointing-left,
  input[type="submit"].pointing-left,
  input[type="button"].pointing-left,
  .ui-widget.ui-widget-content button.pointing-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  button.pointing-right,
  a.button.pointing-right,
  a[role="button"].pointing-right,
  input[type="reset"].pointing-right,
  input[type="submit"].pointing-right,
  input[type="button"].pointing-right,
  .ui-widget.ui-widget-content button.pointing-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  button.pointing-left::after, button.pointing-right::after,
  a.button.pointing-left::after,
  a.button.pointing-right::after,
  a[role="button"].pointing-left::after,
  a[role="button"].pointing-right::after,
  input[type="reset"].pointing-left::after,
  input[type="reset"].pointing-right::after,
  input[type="submit"].pointing-left::after,
  input[type="submit"].pointing-right::after,
  input[type="button"].pointing-left::after,
  input[type="button"].pointing-right::after,
  .ui-widget.ui-widget-content button.pointing-left::after,
  .ui-widget.ui-widget-content button.pointing-right::after {
    content: "";
    border-color: transparent #6f6f6f;
    border-style: solid;
    border-width: 20px 14px;
    position: absolute;
    top: 0px; }
  button.pointing-right::after,
  a.button.pointing-right::after,
  a[role="button"].pointing-right::after,
  input[type="reset"].pointing-right::after,
  input[type="submit"].pointing-right::after,
  input[type="button"].pointing-right::after,
  .ui-widget.ui-widget-content button.pointing-right::after {
    border-right-width: 0;
    right: -14px; }
  button.pointing-left::after,
  a.button.pointing-left::after,
  a[role="button"].pointing-left::after,
  input[type="reset"].pointing-left::after,
  input[type="submit"].pointing-left::after,
  input[type="button"].pointing-left::after,
  .ui-widget.ui-widget-content button.pointing-left::after {
    border-left-width: 0;
    left: -14px; }
  button.pointing-left.primary::after, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.pointing-left.submit::after, button.pointing-right.primary::after, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.pointing-right.submit::after,
  a.button.pointing-left.primary::after,
  a.button.pointing-right.primary::after,
  a[role="button"].pointing-left.primary::after,
  a[role="button"].pointing-right.primary::after,
  input[type="reset"].pointing-left.primary::after,
  input[type="reset"].pointing-right.primary::after,
  input[type="submit"].pointing-left.primary::after,
  input[type="submit"].pointing-right.primary::after,
  input[type="button"].pointing-left.primary::after,
  input[type="button"].pointing-right.primary::after,
  .ui-widget.ui-widget-content button.pointing-left.primary::after,
  .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.pointing-left.submit::after, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
  .ui-widget.ui-widget-content input.pointing-left.submit::after,
  .ui-widget.ui-widget-content button.pointing-right.primary::after,
  .ui-widget.ui-widget-content .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.pointing-right.submit::after, .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
  .ui-widget.ui-widget-content input.pointing-right.submit::after {
    border-color: transparent #669608; }
  button.pointing-left[disabled]::after, button.pointing-right[disabled]::after,
  a.button.pointing-left[disabled]::after,
  a.button.pointing-right[disabled]::after,
  a[role="button"].pointing-left[disabled]::after,
  a[role="button"].pointing-right[disabled]::after,
  input[type="reset"].pointing-left[disabled]::after,
  input[type="reset"].pointing-right[disabled]::after,
  input[type="submit"].pointing-left[disabled]::after,
  input[type="submit"].pointing-right[disabled]::after,
  input[type="button"].pointing-left[disabled]::after,
  input[type="button"].pointing-right[disabled]::after,
  .ui-widget.ui-widget-content button.pointing-left[disabled]::after,
  .ui-widget.ui-widget-content button.pointing-right[disabled]::after {
    border-color: transparent #ADADAD; }
  button .outlined,
  a.button .outlined,
  a[role="button"] .outlined,
  input[type="reset"] .outlined,
  input[type="submit"] .outlined,
  input[type="button"] .outlined,
  .ui-widget.ui-widget-content button .outlined {
    display: inline-block;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    padding: 0.2em 0.8em;
    font-size: 0.8em;
    font-weight: 600; }
  button .ui-button-text,
  a.button .ui-button-text,
  a[role="button"] .ui-button-text,
  input[type="reset"] .ui-button-text,
  input[type="submit"] .ui-button-text,
  input[type="button"] .ui-button-text,
  .ui-widget.ui-widget-content button .ui-button-text {
    padding: 0; }
  button.no-text .text,
  a.button.no-text .text,
  a[role="button"].no-text .text,
  input[type="reset"].no-text .text,
  input[type="submit"].no-text .text,
  input[type="button"].no-text .text,
  .ui-widget.ui-widget-content button.no-text .text {
    display: none; }

/* -----------------------------------------------------------------------------
                                                            Text fields
*/
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0.25em;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  color: black;
  margin: 0;
  padding: 0.3em 0.5em;
  text-align: left;
  font-size: 1em;
  vertical-align: top;
  max-width: 100%; }
  textarea:not([size]),
  select:not([size]),
  input[type="date"]:not([size]),
  input[type="datetime"]:not([size]),
  input[type="datetime-local"]:not([size]),
  input[type="email"]:not([size]),
  input[type="month"]:not([size]),
  input[type="number"]:not([size]),
  input[type="password"]:not([size]),
  input[type="search"]:not([size]),
  input[type="tel"]:not([size]),
  input[type="text"]:not([size]),
  input[type="time"]:not([size]),
  input[type="url"]:not([size]),
  input[type="week"]:not([size]) {
    width: 30em;
    max-width: 100%; }
  textarea[disabled],
  select[disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="email"][disabled],
  input[type="month"][disabled],
  input[type="number"][disabled],
  input[type="password"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="text"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  input[type="week"][disabled] {
    background-color: #eee; }

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }
  textarea:not([size]) + .grippie {
    width: 30em;
    max-width: 100%; }
  .resizable > textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

/* -----------------------------------------------------------------------------
                                                            Other form elements
*/
input[type] {
  vertical-align: middle;
  max-width: 100%; }
  @media all and (max-width: 700px) {
    input[type][type="text"] {
      width: 100%; } }
  aside input[type][type="text"] {
    width: 100%; }

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  box-shadow: 0 0 0.3em rgba(0, 153, 203, 0.75); }

label,
.field-label {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em; }
  input[type="radio"] + label,
  input[type="checkbox"] + label, input[type="radio"] +
  .field-label,
  input[type="checkbox"] +
  .field-label {
    padding-left: 0.2em;
    display: inline-block; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }
  optgroup::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* -----------------------------------------------------------------------------
                                                            Disableds
*/
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888; }

input.placeholder_text,
textarea.placeholder_text {
  color: #888; }

textarea,
select[size],
select[multiple] {
  height: auto; }

select[size="0"],
select[size="1"] {
  height: 1.8em; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px; }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666; } }

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ================================================================================
                                                            FILE INFO

File name       Components
Description

   ================================================================================
                                                            CONTENTS
Common elements
Titles
Links
Tables
Forms

*/
/* ================================================================================ */
html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #333;
  background-color: #f8f8f8;
  /* these styles allow floated (absolutely-positioned) images behind body content */
  z-index: -10;
  position: relative;
  height: 100%; }

acronym, abbr {
  border-bottom: 1px dotted #222;
  color: #222;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

li + li {
  margin-top: 0.5em; }

p {
  line-height: 1.4em;
  margin-block-end: 0px; }
  * + p {
    margin-top: 0.8em; }

p,
li,
td, th {
  max-width: 60em; }

li > p,
td > p, th > p,
blockquote > p {
  margin: 0; }

code,
pre {
  font-family: monospace, monospace; }

pre {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0.5em;
  font-size: 0.8em; }

img {
  width: auto;
  height: auto;
  max-width: 100%; }

main p span[title],
main p a[title],
main label[title],
main strong[title],
main em[title] {
  border-bottom: dotted 2px #0099cb;
  cursor: help; }

fieldset {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.4em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  position: relative;
  border: 1px solid #c0c0c0; }
  * + fieldset {
    margin-top: 2em; }
  fieldset.collapsible {
    padding-top: 1.4em; }
    * + fieldset.collapsible {
      margin-top: 2.3em; }
  fieldset legend {
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0px;
    top: -1em;
    background: #dbdbdb;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0.4em 0.7em; }
    fieldset legend + * {
      padding-top: 1.5em; }
    fieldset legend a {
      width: 100%;
      display: block;
      box-sizing: border-box;
      color: #3b3b3b; }
      fieldset legend a::before {
        float: right;
        font-weight: bold;
        font-size: 1.4em; }
    fieldset legend span.summary {
      position: absolute; }
  form fieldset .description {
    color: scale-lightness(#333, 20%); }
  html.js fieldset.collapsed {
    border-width: 1px;
    height: 2em; }

details {
  margin: 1em 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  position: relative;
  border: 1px solid #dadada;
  border-radius: 5px; }
  details summary {
    box-sizing: border-box;
    display: block;
    left: 0px;
    border: none;
    background: #dadada;
    padding: 1em 1.4em 1em 1.4em;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    color: #0099cb;
    cursor: pointer; }
    details summary span {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 0.4em; }
  details .details-contents {
    padding: 1em; }

iframe {
  border: solid 1px rgba(0, 0, 0, 0.2) !important; }

img,
iframe {
  max-width: 100%; }

.block[role="navigation"] {
  margin-bottom: 0; }

blockquote {
  margin: 1.5em 4em;
  position: relative;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.3em 0.5em;
  /* the following rules insert large quotation marks */ }
  blockquote p {
    margin: 0; }
  blockquote:before, blockquote:after {
    font-size: 2.5em;
    position: absolute; }
  blockquote:before {
    content: "\201C";
    left: -0.5em;
    top: 0.4em; }
  blockquote:after {
    content: "\201D";
    right: -0.5em;
    bottom: 0; }

cite, .attribution,
.submitted {
  font-size: 0.85em;
  color: scale-lightness(#333, 30%); }

main > label,
main > * > label {
  font-size: 1.6em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center; }

[aria-collapsed] {
  max-height: 0px;
  overflow: hidden; }

[aria-enabled="false"] {
  position: relative; }
  [aria-enabled="false"]::before {
    content: "";
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.6); }

/* -----------------------------------------------------------------------------
                                                            Lists
*/
ul li span > a:first-child:last-child {
  margin: 0; }

/* -----------------------------------------------------------------------------
                                                            Titles
*/
h1, .info_title, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #212121;
  margin-top: 1.8em;
  margin-bottom: 0.7em; }
  h1.inline, .inline.info_title, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
    display: inline;
    font-size: 1em; }
    h1.inline + *, .inline.info_title + *, h2.inline + *, h3.inline + *, h4.inline + *, h5.inline + *, h6.inline + * {
      margin-left: 1em; }
  h1 a, .info_title a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }
    h1 a, .info_title a, h1 a:link, .info_title a:link, h1 a:visited, .info_title a:visited, h1 a:hover, .info_title a:hover, h1 a:focus, .info_title a:focus, h1 a:active, .info_title a:active, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h2 a:focus, h2 a:active, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:focus, h3 a:active, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h4 a:focus, h4 a:active, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h5 a:focus, h5 a:active, h6 a, h6 a:link, h6 a:visited, h6 a:hover, h6 a:focus, h6 a:active {
      color: inherit; }
    h1 a, .info_title a, h1 a:hover, .info_title a:hover, h1 a:focus, .info_title a:focus, h2 a, h2 a:hover, h2 a:focus, h3 a, h3 a:hover, h3 a:focus, h4 a, h4 a:hover, h4 a:focus, h5 a, h5 a:hover, h5 a:focus, h6 a, h6 a:hover, h6 a:focus {
      text-decoration: none; }
  h1 p, .info_title p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin: 0;
    line-height: inherit; }

h1, .info_title {
  line-height: 1;
  font-size: 2.2em;
  text-align: center; }

h2 {
  line-height: 1.15; }

h3 {
  line-height: 1.3;
  margin: 1.4em 0px 0.6em; }

h4 {
  line-height: 1.38; }

h5 {
  line-height: 0.45; }

h6 {
  line-height: 0.5; }

header h1 ~ p, header .info_title ~ p {
  margin-top: -0.8em;
  margin-bottom: 1.6em; }

h1 .prefix, .info_title .prefix,
h1 .suffix, .info_title .suffix {
  font-weight: 200; }

h2 .prefix,
h2 .suffix {
  font-weight: 400; }

/* -----------------------------------------------------------------------------
                                                            Links
*/
a,
[role="link"] {
  font-weight: 600;
  text-decoration: none; }
  a, a:link, a:visited,
  [role="link"],
  [role="link"]:link,
  [role="link"]:visited {
    color: #0099cb; }
  a:hover, a:focus,
  [role="link"]:hover,
  [role="link"]:focus {
    color: #004d66;
    text-decoration: underline; }
  a:active,
  [role="link"]:active {
    /* a link when it is 'clicked' on */
    color: #006b8e; }
  a.active, a[aria-selected="true"],
  [role="link"].active,
  [role="link"][aria-selected="true"] {
    /* in Drupal, this is a link that points to the current (active) page */
    font-weight: bold;
    color: inherit; }

/* -----------------------------------------------------------------------------
                                                            Tables
*/
table {
  border-collapse: collapse;
  clear: left;
  /* fixes bug where table overlaps right-floated blocks */ }
  table thead a {
    display: block; }
  table tr.even,
  table tr.odd {
    background: none; }
  table tr:hover td {
    background-color: rgba(0, 0, 0, 0.02); }
  table td,
  table th {
    border: solid 1px #ddd;
    padding: 0.3em 0.5em; }
  table th {
    text-align: left;
    border-bottom: 1px solid #999;
    background-color: rgba(0, 0, 0, 0.04); }
    table th [title] {
      border-bottom: none; }
    table th.active {
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom-width: 3px; }
    table th img {
      margin-left: 0.5em;
      vertical-align: baseline; }
  table td.active {
    background-color: inherit; }
  table form {
    margin: 0; }

.borderless td,
.borderless th {
  border: none; }

/* -----------------------------------------------------------------------------
                                                                Forms
*/
form {
  max-width: 100%;
  box-sizing: border-box; }
  form:after {
    content: "";
    display: table;
    clear: both; }

/* Component (SMACSS module) rules */
/** ----------------------------------------------------------------------------
                                                      Material icons
 */
.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/** ----------------------------------------------------------------------------
 *                                                    Icomoon
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

fieldset legend a::before,
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-access_time:before {
  content: "\e192"; }

.icon-account_box:before {
  content: "\e851"; }

.icon-add_box:before {
  content: "\e146"; }

.icon-add_circle:before {
  content: "\e147"; }

.icon-arrow_drop_down:before, fieldset.collapsed legend a:before {
  content: "\e5c5"; }

.icon-arrow_drop_up:before, fieldset legend a:before {
  content: "\e5c7"; }

.icon-assessment:before {
  content: "\e85c"; }

.icon-camera_alt:before {
  content: "\e3b0"; }

.icon-chat:before {
  content: "\e0b7"; }

.icon-check:before {
  content: "\e5ca"; }

.icon-check_box:before {
  content: "\e834"; }

.icon-check_box_outline_blank:before {
  content: "\e835"; }

.icon-chevron_left:before {
  content: "\e5cb"; }

.icon-chevron_right:before {
  content: "\e5cc"; }

.icon-close:before {
  content: "\e5cd"; }

.icon-crop_free:before {
  content: "\e3c2"; }

.icon-dashboard:before {
  content: "\e871"; }

.icon-delete:before {
  content: "\e872"; }

.icon-done:before {
  content: "\e876"; }

.icon-done_all:before {
  content: "\e877"; }

.icon-edit:before {
  content: "\e3c9"; }

.icon-expand_less:before {
  content: "\e5ce"; }

.icon-expand_more:before {
  content: "\e5cf"; }

.icon-favorite:before {
  content: "\e87d"; }

.icon-favorite_outline:before {
  content: "\e87e"; }

.icon-file_download:before {
  content: "\e2c4"; }

.icon-file_upload:before {
  content: "\e2c6"; }

.icon-filter_hdr:before {
  content: "\e3df"; }

.icon-folder:before {
  content: "\e2c7"; }

.icon-gesture:before {
  content: "\e155"; }

.icon-goat:before {
  content: "\e901"; }

.icon-help:before {
  content: "\e887"; }

.icon-help_outline:before {
  content: "\e8fd"; }

.icon-image:before {
  content: "\e3f4"; }

.icon-indeterminate_check_box:before {
  content: "\e90c"; }

.icon-info:before {
  content: "\e88e"; }

.icon-info_outline:before {
  content: "\e88f"; }

.icon-keyboard_arrow_down:before {
  content: "\e313"; }

.icon-keyboard_arrow_left:before {
  content: "\e314"; }

.icon-keyboard_arrow_right:before {
  content: "\e315"; }

.icon-keyboard_arrow_up:before {
  content: "\e316"; }

.icon-keyboard_control:before {
  content: "\e5d3"; }

.icon-local_offer:before {
  content: "\e54e"; }

.icon-location_on:before {
  content: "\e0c8"; }

.icon-mail:before {
  content: "\e158"; }

.icon-mail_outline:before {
  content: "\e0e1"; }

.icon-map:before {
  content: "\e55b"; }

.icon-menu:before {
  content: "\e5d2"; }

.icon-mode_edit:before {
  content: "\e254"; }

.icon-more_vert:before {
  content: "\e5d4"; }

.icon-mouse:before {
  content: "\e323"; }

.icon-navigate_before:before {
  content: "\e408"; }

.icon-navigate_next:before {
  content: "\e409"; }

.icon-near_me:before {
  content: "\e569"; }

.icon-not_interested:before {
  content: "\e033"; }

.icon-now_wallpaper:before {
  content: "\e1bc"; }

.icon-people:before {
  content: "\e7fb"; }

.icon-person:before {
  content: "\e7fd"; }

.icon-photo_library:before {
  content: "\e413"; }

.icon-portrait:before {
  content: "\e416"; }

.icon-publish:before {
  content: "\e255"; }

.icon-radio_button_checked:before {
  content: "\e837"; }

.icon-radio_button_unchecked:before {
  content: "\e836"; }

.icon-remove_red_eye:before {
  content: "\e417"; }

.icon-rotate_left:before {
  content: "\e419"; }

.icon-rotate_right:before {
  content: "\e41a"; }

.icon-search:before {
  content: "\e8b6"; }

.icon-select_all:before {
  content: "\e162"; }

.icon-share:before {
  content: "\e80d"; }

.icon-spa:before {
  content: "\eb4c"; }

.icon-star:before {
  content: "\e838"; }

.icon-star_half:before {
  content: "\e839"; }

.icon-star_outline:before {
  content: "\e83a"; }

.icon-terrain:before {
  content: "\e564"; }

.icon-thumb_down:before {
  content: "\e8db"; }

.icon-thumb_up:before {
  content: "\e8dc"; }

.icon-timeline:before {
  content: "\e922"; }

.icon-timer_10:before {
  content: "\e423"; }

.icon-touch_app:before {
  content: "\e913"; }

.icon-view_column:before {
  content: "\e8ec"; }

.icon-view_comfortable:before {
  content: "\e42a"; }

.icon-view_list:before {
  content: "\e8ef"; }

.icon-view_module:before {
  content: "\e8f0"; }

.icon-view_quilt:before {
  content: "\e8f1"; }

.icon-visibility:before {
  content: "\e8f4"; }

.icon-whatshot:before {
  content: "\e80e"; }

.icon-zoom_in:before {
  content: "\e8ff"; }

.icon-zoom_out:before {
  content: "\e900"; }

.icon-zoom_out_map:before {
  content: "\e56b"; }

.icon-collections_bookmark:before {
  content: "\e431"; }

.icon-diff-added:before {
  content: "\f06b"; }

.icon-diff-removed:before {
  content: "\f06c"; }

.icon-flame:before {
  content: "\f0d2"; }

.icon-location:before {
  content: "\f060"; }

.icon-price-tag:before {
  content: "\e902"; }

.icon-price-tags:before {
  content: "\e903"; }

.icon-lifebuoy:before {
  content: "\e90d"; }

.icon-phone:before {
  content: "\e90e"; }

.icon-enlarge2:before {
  content: "\e904"; }

.icon-shrink2:before {
  content: "\e905"; }

.icon-fire:before {
  content: "\e906"; }

.icon-star-empty:before {
  content: "\e907"; }

.icon-star-half:before {
  content: "\e908"; }

.icon-star-full:before {
  content: "\e909"; }

.icon-info2:before {
  content: "\e90f"; }

.icon-table:before {
  content: "\e90a"; }

.icon-share2:before {
  content: "\e90b"; }

.icon-calendar:before {
  content: "\e910"; }

.icon-clipboard:before {
  content: "\e911"; }

/* SMACSS theme rules */
body > #header {
  display: none; }

.info_title {
  border-bottom: 1px solid #50862B; }

.swagger-section .swagger-ui-wrap {
  font-family: inherit; }
  .swagger-section .swagger-ui-wrap strong {
    font-family: inherit; }
  .swagger-section .swagger-ui-wrap ul#resources {
    font-family: inherit;
    padding-left: 0; }
    .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
      color: #406b22; }
    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
      padding: 0.9em 1.2em;
      font-size: 1em; }
    .swagger-section .swagger-ui-wrap ul#resources li.resource a.toggleOperation {
      margin: 0.2em; }

/*# sourceMappingURL=sourcemaps/api.css.map */
