// This file was originally provided by Formalize.
// This file is dependent on Sass and a helper library like Compass or Bourbon.


/**
  CONTENTS

  UI Consistency
  Buttons
  Text fields
  Other form elements
  Disableds
 */



/* -----------------------------------------------------------------------------
                                                            UI Consistency
*/
input[type="search"]::-webkit-search-decoration {
  display: none;
}

fieldset {
  min-width: 0;
}
// The following fixes a width rendering bug in Firefox
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

input,
button,
a.button,
select,
textarea {
  // Suppress red glow that Firefox
  // adds to form fields by default.
  &:invalid {
    box-shadow: none;
  }

  // Add a bright-coloured glow.
  &:focus {
    // box-shadow: rgba( $colour-green, 0.8 ) 0 0 3px 0;

    outline: 3px solid rgba($colour-green, 0.35);
    outline-offset: -2px;
    // border: solid 1px $colour-orange !important;
    // for Opera
    z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    box-shadow: none;
  }
}
input[type="radio"],
input[type="checkbox"] {
  & + label {
    // font-weight: 600;
    font-size: 0.85em;
  }
  &[data-values-status="mixed"] {
    box-shadow: 0 0 4px #ffcf00;
  }
}



/* -----------------------------------------------------------------------------
                                                            Buttons
*/

$button-border-colour:  #CFCFCF;
$button-disabled-bg:    #ADADAD;
$button-primary-bg:     #669608;
$pointable-bg-colour:   #838383;
// $pointable-background:  linear-gradient(tint($pointable-bg-colour, 10%), shade($pointable-bg-colour, 10%));
$pointable-background:  #6f6f6f;
// $pointable-background-dark: linear-gradient(tint($pointable-bg-colour, 0%), shade($pointable-bg-colour, 20%));
$pointable-background-dark:  darken(#6f6f6f, 10%);

button,
a.button,
a[role="button"],
input[type="reset"],
input[type="submit"],
input[type="button"],
.ui-widget.ui-widget-content button {
  @include appearance(none);
  border-radius: 0.4em;
  cursor:           pointer;
  display:          inline-block;
  outline:          0;
  overflow:         visible;
  text-decoration:  none;
  width:            auto;
  font-size:        0.9em;
  // line-height:   $pointer_target-line-height;
  margin:           0.4em;
  vertical-align:   baseline;
  text-transform:   uppercase;
  // @include background-image($pointable-background);
  font-weight:      600;
  border:           none /* solid 1px #CFCFCF */;
  padding:          $pointer_target-padding;
  position:         relative;
  height:           40px;
  box-sizing:       border-box;
  box-shadow:       none /* 0px 0px 0.3em rgba(black, 0.1) */;

  // background:       $pointable-background;
  // color:            white;
  // text-shadow:      -0.03em -0.03em 0.04em rgba(black, 0.3);
  background:       none;
  color:            $colour-links;
  // text-shadow:      none;

  &:hover,
  &:focus {
    // @include background-image($pointable-background-dark);
    // background: $pointable-background-dark;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0.3em rgba(white, 0.75);
  }

  &:active {
    background-color: scale-lightness( $colour-orange, -15% );
    @include background-image($pointable-background);
    // box-shadow:inset rgba(black, 0.25) 0 1px 2px 0);
  }
  &.active {
    // color: black;
    @include background-image(linear-gradient($colour-links, shade($colour-links, 12%)));
    // border-color: shade($colour-buttons, 5%);
    color: white;

      &:hover,
      &:focus {
        background: shade( $colour-links, 15% );
        // border-color: shade($colour-buttons, 10%);
      }
      &:active {
        background: shade( $colour-links, 25% );
        // border-color: shade($colour-buttons, 15%);
      }
  }
  &[disabled] {
    &.raised {
      background: $button-disabled-bg;
      color: rgba(white, 0.6);
      text-shadow: none;
    }
  }

  &.flat {
    background: none;
    border: none;
    color: $colour-links;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-shadow: none;

    &:hover,
    &:focus {
      background: rgba(black, 0.1);
      color: adjust-lightness( $colour-text, -0.2 );
      // color: shade( $colour-text, 10% );
      // background: shade( white, 10% );
    }
    &:active {
      background: none;
      box-shadow: none;
      border: none;
      // color: shade( $colour-text, 20% );
      // background: shade( white, 20% );
    }
    &.active {
      color: adjust-lightness( $colour-text, -15% );
      // color: shade( $colour-text, 20% );
      // background: shade( white, 20% );
    }
  }
  &.raised {
    box-shadow: 0px 0px 0.3em rgba(black, 0.1);
    background: $pointable-background;
    color: white;
    text-shadow: -0.03em -0.03em 0.04em rgba(black, 0.3);
  }
  .form-actions &[type="submit"],
  .form-actions &[type="button"] {
    @extend button.raised;
  }

  .floating & {
    display: block;
    box-shadow: 1px 1px 4px rgba(black, 0.46);
  }


  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.primary {
    // @include background-image(linear-gradient($colour-buttons, shade($colour-buttons, 12%)));
    background: $button-primary-bg;
    // border-color: shade($colour-buttons, 5%);
    color: white;

    &:hover,
    &:focus {
      background: shade( $colour-buttons, 15% );
      // border-color: shade($colour-buttons, 10%);
    }
    &:active {
      background: shade( $colour-buttons, 25% );
      // border-color: shade($colour-buttons, 15%);
    }
    &[disabled] {
      @include background-image(linear-gradient(scale-saturation($colour-buttons, -50%), scale-saturation(shade($colour-buttons, 12%), -50%)));
      color: rgba(white, 0.6);
    }
  }

  &.pointing-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.pointing-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.pointing-left::after,
  &.pointing-right::after {
    content: "";
    border-color: transparent $pointable-background;
    border-style: solid;
    border-width: 20px 14px;
    position: absolute;
    top: 0px;
  }
  &.pointing-right::after {
    border-right-width: 0;
    right: -14px;
  }
  &.pointing-left::after {
    border-left-width: 0;
    left: -14px;
  }
  &.pointing-left,
  &.pointing-right {
    &.primary::after {
      border-color: transparent $button-primary-bg;
    }
    &.raised::after {}
    &[disabled]::after {
      border-color: transparent $button-disabled-bg;
    }
  }

  .outlined {
    display: inline-block;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
    padding: 0.2em 0.8em;
    font-size: 0.8em;
    font-weight: 600;
  }

  .ui-button-text {
    padding: 0;
  }

  &.no-text .text {
    display: none;
  }
}



/* -----------------------------------------------------------------------------
                                                            Text fields
*/
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: $corner_radius-regular;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  color: black;
  // outline: 0;
  margin: 0;
  padding: $data-field-padding;
  text-align: left;
  font-size: 1em;
  // height: 1.8em;
  vertical-align: top;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) inset; /* overrides the :active outer glow */
  max-width: 100%;

  // Leaving out Helvetica Neue, to not throw off size="..."
  // on inputs. Arial is more reliable, on Windows and OS X.
  // font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

  &:not([size]) {
    width: 30em;
    max-width: 100%;
  }

  &[disabled] {
    background-color: #eee;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;

  &:not([size]) + .grippie {
    width: 30em;
    max-width: 100%;
  }
  .resizable > & {
    @include border-bottom-radius(0);
  }
}



/* -----------------------------------------------------------------------------
                                                            Other form elements
*/
input[type] {
    vertical-align: middle;
    max-width: 100%;

    &[type="text"] {
        @media all and (max-width: 700px) {
            width: 100%;
        }
    }

    aside &[type="text"] {
        width: 100%;
    }
}
input[type="radio"],
input[type="checkbox"] {
  // margin-top: 0.3em;

  &:focus {
    box-shadow: 0 0 0.3em rgba($colour-links, 0.75);
  }
}

label,
.field-label {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  // @include transition( font-size );
  // margin: 0.7em 1.2em 0.1em 0;

  input[type="radio"] + &,
  input[type="checkbox"] + & {
    padding-left: 0.2em;
    display: inline-block;
  }
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;

  // Font family repeated, for Firefox.
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}



/* -----------------------------------------------------------------------------
                                                            Disableds
*/
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    // Base64 encoded "../images/select_arrow.gif"
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}
