// Note: This file is dependent on Sass and Compass.
// Sass         = http://sass-lang.com
// Compass      = http://compass-style.org
// Downloaded   = 28 June 2014


/*=========================================
                        CONTENTS

Widths
UI Consistency
IE6

*/

// @import "compass/css3";

// -----------------------------------------------------------------------------
//                                                              `Widths

.input_tiny {
  width: 50px;}

.input_small {
  width: 100px;}

.input_medium {
  width: 150px;}

.input_large {
  width: 200px;}

.input_xlarge {
  width: 250px;}

.input_xxlarge {
  width: 300px;}

// -----------------------------------------------------------------------------
//                                                              `UI Consistency

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
a.button,
select,
textarea {
  // Suppress red glow that Firefox
  // adds to form fields by default.
  &:invalid {
    box-shadow: none;
  }

  // Add a bright-coloured glow.
  &:focus {
    box-shadow: rgba( $colour-green, 0.8 ) 0 0 3px 0;
    // border: solid 1px $colour-orange !important;
    // for Opera
    z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    box-shadow: none;
  }
}
input[type="radio"],
input[type="checkbox"] {
  & + label {
    font-weight: 600;
  }
}

button,
a.button,
a[role="button"],
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include appearance(none);
  @include border-radius(0.4em);
  background: $colour-orange;
  border: none;
  cursor: pointer;
  color: white;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  // text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  padding: $pointer_target-padding;
  // line-height: $pointer_target-line-height;

  &:hover {
    background-color: scale-lightness( $colour-orange, -15% );
    text-decoration: none;
  }

  &:active {
    background-color: scale-lightness( $colour-orange, -15% );
    // box-shadow:inset rgba(black, 0.25) 0 1px 2px 0);
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.flat {
      background: none;
      color: $colour-text;

      &:hover {
        background: none;
        color: adjust-lightness( $colour-text, -0.2 );
      }
      &:active {
        background: none;
        box-shadow: none;
        border: none;
      }
      .active {
        color: adjust-lightness( $colour-text, -15% );
      }
  }
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  @include border-radius($corner_radius-regular);
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  color: black;
  outline: 0;
  margin: 0;
  padding: $data-field-padding;
  text-align: left;
  font-size: 1em;
  // height: 1.8em;
  vertical-align: top;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) inset; /* overrides the :active outer glow */

  // Leaving out Helvetica Neue, to not throw off size="..."
  // on inputs. Arial is more reliable, on Windows and OS X.
  // font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

  &[disabled] {
    background-color: #eee;
  }
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    // Base64 encoded "../images/select_arrow.gif"
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border-color: #666;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;

  // Font family repeated, for Firefox.
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
