/**
 * @file
 *
 * File name    Components
 * For site   Devoted
 * Created by Touchdreams
 */

/*
 * Contents

  Nodes
  Field widgets
  Fields
  Individual fields

*/

@mixin field-on-overlay {
  // display: none;
  font-size: 0.85em;
  font-weight: 600;

  // @extend %field-as-abbr;
  display: none;

  // &[aria-hidden="true"] {
  //  display: none;
  // }
  &[aria-hidden="false"] {
    display: block;
    position: absolute;
    top: 1em;
    left: 3.3em;
    width: 60%;
    height: 76%;
    overflow: hidden;
    word-break: break-all;

    // An invisible layer that covers the field so that the text can't be
    // selected, which messes with the 'selectable'.
    &::after {
      content: "";
      position: absolute;;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@mixin data-on-overlay {
  // display: none;
  font-size: 0.8em;
  font-weight: 600;

  // @extend %field-as-abbr;
  display: none;

  // &[aria-hidden="true"] {
  //  display: none;
  // }
  display: block;
  position: absolute;
  top: 3em;
  left: 1.3em;
  width: 80%;
  height: 76%;
  overflow: hidden;
  word-break: break-all;
  line-height: 1.1;

  // An invisible layer that covers the field so that the text can't be
  // selected, which messes with the 'selectable'.
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    margin-bottom: 0.8em;
    display: inline-block;
  }
}

// Displays a block as a column within a node (typically a teaser)
@mixin node-column($is-picture: false) {
  display: table-cell;
  vertical-align: top;

  @if ($is-picture == true) {
    padding: 0;
  }
}


.field-none {
  color: $colour-subtle;
  font-style: italic;
}

main .node-form {
  // // Same styling as fieldset
 //  padding: $data-field-padding /* !important */;
 //  margin-top: 2em;
 //  margin-bottom: 1em;
 //  @include border-radius ( $corner-radius-large );
 //  background-color: rgba(black, 0.03);
 //  border: solid 1px #c0c0c0;
 //  position: relative;

 //  width: 60em;


  & > div > h2 {
    font-size: 1em;
  background: #dadada;
  padding: 0.3em 0.6em;
  display: inline-block;
  margin-top: 0px;
  position: absolute;
  top: -0.9em;
  border: 1px solid #c0c0c0;
  @include border-radius ( $corner-radius-regular );
  }
}

main .view-mode-teaser .node-form {
  padding: 0 /* !important */;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
  border: none;
  position: static;

  width: auto;
}




/* -----------------------------------------------------------------------------
                                                                Multiple Content types
*/
.selectable {
  a.colorbox,
  a.colorbox-inline {
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
    z-index: 20;

    @extend %font-icon;
    @extend .icon-enlarge2;
    padding: 0.4em;
    width: 1em;
    overflow: hidden;
    font-size: 1.2em;
    background: rgba(black, 0.35);
    &::before{
      color: white;
    }
    &:not(:first-of-type) {
      display: none;
    }
  }
  // fields that aren't of type 'image'
  .field:not([class*="image"]) {
    display: none;
  }
}

.node-picture,
.node-observation,
article.picture {
  &.selectable {

    img {
      @include transition(transform 0.3s ease);
    }

    .field.image {
      @include field-on-overlay;
      display: block;
    }
    .field-data {
      @include data-on-overlay;
    }

    // .views-field-nid,
    // .views-field-nid-group,
    .property-nid,
    .views-field-created,
    .views-field-field-date-taken {
      display: none;
    }
    .views-field-field-date-taken {
      display: block;
      z-index: 100;
      background: white;
      position: absolute;
    }
  }
}

.view-mode-teaser,
.node-observation.selectable,
.node-identification-community.view-mode-text,
.taxonomy-term.vocabulary-taxa.view-mode-field_guide {
  @extend .pane;
  @extend .pane.inline;
  @include group;
  position: relative;
  padding: 0.6em;
  width: 600px;
  margin-right: 20px;
  box-sizing: border-box;
}


.view-mode-teaser,
.view-mode-field_guide {
  .show,
  .tell,
  .first,
  .middle,
  .last {
    display: table-cell;
    vertical-align: top;
  }
}




/* -----------------------------------------------------------------------------
                                                                Nodes
*/
.node {
  .user-picture img {
    max-width: 24px;
    border: 1px solid rgba(black, 0.14);
  }
}

.view-mode-teaser {
  .pretitle,
  section > p:first-child { // A sort of 'label' that displays the name of the content type
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    // text-align: right;
    float: right;
    color: rgb(176, 176, 176);
    margin-top: -0.4em;
  }

  // Block links cover the entire background of a block element such as these nodes.
  & > a.block,
  & > a[role="block"] {
    @include link_as_block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include border-radius(inherit);

    &:hover,
    &:focus {
      box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
    }
  }
  a {
    position: relative;
  }
  .show {
    .field-none {
      margin: 0.5em 0px 0.5em 0.5em;
      font-size: 0.9em;
      font-weight: 600;
    }
  }
}

.page-node {}
.view-mode-text {
  .field {
    display: inline-block;

    &:not(:first-of-type) {
      margin-top: 0.5em;
    }
  }
}



/* -----------------------------------------------------------------------------
                                                                Webforms
*/
.node-type-webform {
  .submitted {
    display: none;
  }
}



/* -----------------------------------------------------------------------------
                                                                Observations
*/
.observation {
  &.displayed-as-group {
    header {
      display: none;
    }
  }
}
.node-observation {
  &.view-mode-full {
    h1 {
      text-align: left;
    }
  }

  // ---------------------------------------------------------
  &.selectable {
    width: 160px;
    height: 160px + 2px + 79px;
    margin-bottom: 3.3em;

    border: none;
    padding: 0;
    // background: none;

    .fields {
      @extend .non-list;

      li {
        display: inline-block;
        float: none;
      }
    }
    .views-field:first-child {
      &,
      img {
        @include border-radius( $corner_radius-large $corner_radius-large 0 0 );
      }
    }
    .views-field-field-pictures-observation-1,
    .views-field-field-pictures-observation,
    .views-field-field-image {
      display: block;

      .field-content {
        display: inline;
      }
    }
    .views-field-field-pictures-observation-1 {
      margin-bottom: 2px;
    }
    .views-field-field-pictures-observation {
      height: 85px;
      overflow: hidden;

      & > .field-content > article {
        @include column (2, $gutter-narrow);
      }
      .node {
        display: inline-block;
      }
      // .field-name-body { // This shouldn't be displaying anyway!
      //  display: none;
      // }
      article {
        &:first-child img {
          @include border-radius( 0 0 0 $corner_radius-large );
        }
        &:last-child img {
          @include border-radius( 0 0 $corner_radius-large 0 );
        }
      }
    }
    .views-field-field-image {
      display: block;

      img {
        width: 70px;
      }
    }
  }

  // ---------------------------------------------------------
  &.view-mode-teaser {
    vertical-align: top;
    padding: 0;

    h2 {
      font-size: 1.2em;
    }

    .show {
      width: 140px;

      .field-item {
        margin-top: 0;
      }
      .others {
        margin-top: 2px;
      }
    }
    .tell {
      padding: 0.3em 1.5em 1.2em 1.5em;

      .field {
        font-size: 0.85em;
      }
    }
    .field-name-field-image {
      img {
        @include border-radius( $corner_radius-regular 0 0 $corner_radius-regular );
      }
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Pictures
*/
.node-picture,
article.picture {
  &.view-mode-full {
    .field-label {
      min-width: 8em;
    }
  }
  &.view-mode-teaser {
    .node-title {
      display: none; // @todo should be removed in template or preprocess fn
    }
  }
  // Used in Contribute: Group
  &.selectable {
  // &.size-medium {
    position: relative;
    height: 140px;
    width: 140px;
    background: #eaeaea;

    // .views-field-title,
    .views-field-field-image {
      display: block;

      .field-content {
        display: inline;
      }
    }
    .views-field-field-identified-species {
      // @extend %overlap-bottom;

      a {
        display: block;
        background-color: rgba( black, 0.4 );
        color: white;
        padding: 0.1em 0.3em;
        font-size: 0.9em;
        // font-weight: normal;
      }
    }
  }
  &.view-mode-medium {
    .field-name-field-image {
      img {
        @include border-radius($corner_radius-regular);
      }
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Habitat record (node)
*/
.node-habitat-record {
  &.view-mode-teaser {
    padding: 0.6em;

    .field {
      @include column(2, $gutter-narrow);
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Taxa (term)
*/
.taxonomy-term.vocabulary-taxa {
  .ol-map {
    width: 300px;
    height: 300px;
  }

  $field-guide-image-height: 130px;
  $field-guide-grid-gutter: 2px;

  &.view-mode-field_guide {
    width: 940px;

    .show {
      width: $field-guide-image-height * 3 + ($field-guide-grid-gutter * 2);
      padding-right: 2em;

      & > .field {
        display: table-cell;
        width: $field-guide-image-height;
        height: $field-guide-image-height;
        vertical-align: top;
      }
    }

    h2 {
      font-size: 1.2em;

      div {
        display: inline;
      }
    }

    .content {
      @include group;
    }
    .ol-map {
      // @extend .left;
      // width: $field-guide-image-height;
      // height: $field-guide-image-height;

      .ol-overlaycontainer-stopevent {
        display: none;
      }
    }
    .field-name-field-pictures {
      @include group;
      padding-left: $field-guide-grid-gutter;

      & > .field-items > .field-item {
        width: ($field-guide-image-height - $field-guide-grid-gutter) / 2;
        height: ($field-guide-image-height - $field-guide-grid-gutter) / 2;
        float: left;

        &:nth-child(n+3) {
          margin-top: $field-guide-grid-gutter;
        }
        &:nth-child(2n) {
          margin-left: $field-guide-grid-gutter;
        }
      }
    }
    .field-name-field-range {
      padding-left: $field-guide-grid-gutter;
    }
    .field-name-field-description {
      font-size: 0.85em;
    }
    .field-name-field-etymology {
      font-size: 0.75em;
      color: #5c5c5c;
    }
    .field-name-field-taxon-rank {
      font-weight: normal;
      font-style: italic;
      color: grey;
      font-size: 0.8em;
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Habitats (term)
*/
.taxonomy-term.vocabulary-habitats {
  &.view-mode-teaser {
    .field {
      @include column(2, $gutter-narrow);
    }
    .field-label,
    .field-label + * {
      display: table-cell;
    }
    .field-label {
      width: 8em;
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Identifications
*/
.node-identification-community {
  &.view-mode-text, {
    h2 {
      font-size: 1em;
    }
  }
  &.view-mode-teaser {
    // display: table;
    // width: 100%;
    box-sizing: border-box;
    padding: 0;

    .show,
    .tell {
      @include node-column;
    }
    .show {
      width: 110px;
      max-width: 110px; // Needed so that the cell doesn't grow unexpectedly.
      text-align: center;
      @include border-radius($corner_radius-regular 0 0 $corner_radius-regular);
    }
    .field-name-field-reliability {
      background-color: #878a00; // green
      color: white;
      font-size: 1.3em;
      // vertical-align: middle;
      // border-radius: 0.25em 0px 0px 0.25em;
      @include border-radius(0 0 0 $corner_radius-regular);

      img {
        @include border-radius($corner_radius-regular 0 0 0);
        margin-bottom: 0.6em;
      }
      // img + .field {
      // }
    }
    .tell {
      padding: 1em;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.2em;
    }
    .submitted {
      margin-top: 0.3em;
    }

    .field-name-field-identified-species {}

    form {
      margin-top: 1em;
      margin-bottom: 0px;
    }
  }
}
li.views-row-2 .node-identification {
  &.view-mode-teaser {
    .show {
      background-color: #aeaeae;
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Interaction
*/
.node-interaction{
  padding: 0;

  &.view-mode-teaser {
    .field-name-field-observation {
      text-align: left;
    }
    .field-name-field-observation-object {
      text-align: right;
    }
  }
  .first,
  .last {
    width: 150px;
  }
  .middle {
    padding: 1em;
    text-align: center;
  }
}



/* -----------------------------------------------------------------------------
                                                                Taxa
*/
.taxa-tree {
  ul {
    margin: 0;
    padding-left: 0.6em;

    li {
      list-style-type: disc;
    }
  }
  & > ul {
    margin-left: 1em;
  }
}



/* -----------------------------------------------------------------------------
                                                                Users
*/
.profile {
  display: table;
  width: 100%;

  .show,
  .tell {
    display: table-cell;
    vertical-align: top;
  }
  .show {
    width: 300px;
  }
  .user-picture {
    float: none;
    margin: 0 0 1em;
    display: inline-block;
  }
  [role="button"].edit {
    float: right;
    margin-left: 1em;
  }
}



/* -----------------------------------------------------------------------------
                                                                Comment
*/
.comment {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 0;

  .show {
    width: 110px;
    max-width: 110px; // Needed so that the cell doesn't grow unexpectedly.
    text-align: center;
  }
  .tell {
    padding: 0 0 0 2em;
  }

  .user-picture img {
    max-width: 100%;
  }
}



/* -----------------------------------------------------------------------------
                                                                Fields in general
*/
.field {

  &:not(:last-of-type) {
    margin-bottom: 0.3em;
  }
  .view-mode-full &:not(:first-of-type) {
    margin-top: 1em;
  }
}
.field-label-inline {
  // .field-label,
  // .field-items,
  // div {
  //     float: none;
  //     display: inline;
  // }

  // & + .field-label-inline {
 //    display: table-row;

  //  .field-label,
  //  .field-items {
  //      display: table-cell;
  //  }
  // }
  display: table-row;

  .field-label,
  .field-items {
    float: none;
    display: table-cell;
    padding-bottom: 0.3em;
  }
  .field-label {
    padding-right: 0.8em;
  }
}
.field-group > h2 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: solid 1px $colour-dividers;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #838383;
  padding-bottom: 0.4em;
}



/* -----------------------------------------------------------------------------
                                                                Individual fields
*/
.field-name-field-pictures-observation {
  @include group;

  .others & > .field-items > .field-item {
    @include column(3, $gutter-narrow);
    margin-top: 0.5em;
  }
}
.view-mode-teaser {
  .field-name-field-identifications {
    & > .field-items {
      @include group;

      & > .field-item {
        // @include column(2);
        display: inline-block;
        width: 11em;
      }
    }
  }
}
.node .views-field.progress-container {
  display: flex;

  & > .views-label {
    display: none;
  }
}
.field .no-value {
  color: grey;
  text-transform: italic;
}



/* -----------------------------------------------------------------------------
                                                                Field widgets
*/
.plupload_wrapper {
    font: inherit;
}
.plupload {
  .plupload_content {
    font-size: 0.8em;
  }
  li {
    max-width: none;
    margin: 0;
  }
  li.plupload_droptext
  .plupload_filelist {
    height: 12em;
      overflow-y: auto;
  }
  .plupload_filelist .plupload_file_name {
      width: auto;
  }
}

form [class*="field_taxon_rank_value"] {
  select {
    width: 8em;
  }
}
.form-field-name-field-certainty select {
  width: 10em;
}
