/**
 * @file Views
 */

/*
 * Contents

  Views
*/



/* -----------------------------------------------------------------------------
                                                                Views
*/

$zen-column-count: 4; // views are within #content, which has 4 columns

.view {
  @include group;

  &.format-list {
    .view-content {
      text-align: center;
    }
  }

  .view-header {
    div {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .view-content {
    & > table {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.rows {
    .views-row {
      clear: both;
    }
  }
  &.rows-inline {
    .views-row {
      display: inline;
      vertical-align: top;
    }
  }

  &.groupings-headings {
    div.title {
      font-weight: bold;
      font-size: $h2-font-size;
      margin-top: 2em;
      margin-bottom: 0.6em;
    }
  }

  &.grid-2 {
    .views-row {
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
  }
  &.teasers-with-images {
    .views-field:first-child {
      /* assuming they're using 100px * 100px thumbnail images... */
      width: 100px;
      text-align: right;
    }
  }
  // displayed as an HTML list
  ul.content {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {}
  }
  &.view-galleries {

    img,
    a {
      display: block;
    }

    .view-content {
      @include zen-grid-container();
      @include group;
    }
    .views-row {
      @include group;
    }
    .views-row:nth-child( n ) {
      @include zen-grid-item(2, 1);
    }
    .views-row:nth-child( 2n ) {
      @include zen-grid-item(2, 3);
    }

    .views-field-title {
      margin-top: -3.4em;
      background: rgba( black, 0.7 );
      position: relative;
      padding: 0.4em 0.6em;
      box-sizing: border-box;
      max-width: 300px; // to match the size of the pictures

      h3 {
        margin: 0;
      }
    }

    &,
    .view-content,
    .views-row {
      overflow: initial;
    }
  }
  .views-field-title h3 {
    margin-top: 0;
  }
  .views-view-grid {
    // width: 100%;
        // @extend .borderless;

        td,
        th {
      vertical-align: top;
      min-width: 6em;

      @media all and (max-width: $w-narrow) {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
  }
}



/* -----------------------------------------------------------------------------
                                                            Views page
*/
body.page-views {
  .view-grouping-header {
    font-size: $h2-font-size;
    font-weight: bold;
    line-height: 1;
    margin-top: 1.4em;
    margin-bottom: 0.3em;
  }
}



/* -----------------------------------------------------------------------------
                                                            Exposed filters
*/
// The exposed form may be in a block and not inside the actual view
.views-exposed-form {
  text-align: center;
  margin: 0px;

  * + & {
    margin-top: 1.8em;
  }
    
  body.page-views main & {
    background: #f0f0f0;
    border: solid 1px #d4d4d4;
    border-radius: $corner_radius-regular;
    padding: 1.5em;
    font-size: 0.8em;
    margin-top: 2em;
    margin-bottom: 2em;

    label {
      margin-bottom: 0.2em;
    }
    input.form-autocomplete,
    input.form-text,
    select.form-select {
      width: 16em;
    }
  }

  .views-exposed-widgets {
    // @include display(flex);
  }
  .views-exposed-widget { // Doesn't have unnecessary specificity
    float: none;
    // @include flex(1 1 auto);
    // padding: 0 /* 0.5em 1em 0px 0px */;
    // vertical-align: bottom;

    display: inline-block;
    text-align: left;
    vertical-align: top;

    &.views-widget-filter-has_identifications {
      width: 11em;
    }
  }

  label {
    display: inline-block;
    
    &[title] {
      border-bottom: none;
    }
  }

  // label[title]::after,
  .description {
    @extend .tooltip_q;
    // float: right;
  }
  div.description {
    display: none;
  }
}



/** ----------------------------------------------------------------------------
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;

  ul {
    @extend .non-list;
  }

  li
  /* .pager-item */ {
    display: inline-block;
    margin: 0; // None needed because inline-block.
    // padding: 0 0.5em;
    // list-style-type: none;
    // background-image: none;

    &.pager-current,
    & > a {
      padding: 0.4em 1em;
      border: solid 1px #e0e0e0;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }
    & > a {
      color: #515151;
      background-color: #eaeaea;
    }
    &.pager-current,
    & > a:hover,
    & > a:focus {
      background-color: #C2C2C2;
      color: #4E4E4E;
      border-color: #B0B0B0;
    }
    &.pager-current {
      cursor: default;
    }
  }
}

.pager-current {
  font-weight: bold;
}

.view-id-taxa_field_guide {
  .view-grouping > .view-grouping-header {
    margin-left: -200px;
  }
  .view-grouping-content > .view-grouping-header {
    margin-left: -100px;
  }
}