body {
  margin: 0;
  padding: 0;
  font-family: 'sans serif';
  font-size: 13px;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  width: 80px;
}
img + img {
  margin-left: 2px;
}
div.contextual-links-wrapper {
  display: none !important;
}
p {
  margin: 0;
}
[data-type="observation"][data-view-mode="printable"] {
  border: solid 1px grey;
  border-radius: 3px;
  margin: 1em;
  padding: 1px;
}
.field {
  border: solid 1px #ddd;
  padding: 0.2em 0.5em;
}
.field:not(:first-child) {
  border-top-width: 0;
}
.field.title {
  text-align: center;
  font-size: 1.2em;
}
.field .name {
  font-weight: bold;
}
.field .value {}
article {
  width: 28em;
  display: inline-block;
  vertical-align: top;
}
button {
  display: none;
}
.value[contenteditable="true"] {
  min-width: 4em;
  display: inline-block;
  min-height: 1em;
}