/**
 * @file
 * 
 */

/*
 * Contents

  Taxa
  Habitats
  Taxa
 */


.taxonomy-term[data-view-mode="teaser"],
.taxonomy-term[data-view-mode="small"],
.taxonomy-term[data-view-mode="field_guide"] {
  display: flex;

  .show,
  .tell,
  .first,
  .middle,
  .last {
    // display: table-cell;
    flex: 1 1 auto;
    vertical-align: top;
  }
  .show {
    flex: 0 0 auto;
    
    .field-type-image .field-item > img {
      border-top-left-radius: $corner_radius-regular;
    }
  }
  .tell {
    padding: 0.3em 1.5em 1.2em 1.5em;
  }
  .tell a {
    position: relative;
    z-index: 20;
  }
}





/* -----------------------------------------------------------------------------
                                                            Term-specific fields
*/
  // EX - Extinct (black)
  // EW - Extinct in the Wild (black)

  // ** THREATENED **
  // CR - Critically Endangered (red)
  // EN - Endangered (orange)
  // VU - Vulnerable (yellow)

  // ** OTHER **
  // NE - Not Evaluated (grey)
  // DD - Data Deficient (grey)

  // ** LOWER RISK **
  // NT - Near Threatened (lime)
  // LC - Least Concern (green)
.taxonomy-term[data-vocabulary="taxa"][data-view-mode="field_guide"] {
  .field-name-field-vulnerability {
    .field-item span {
      border-radius: 3px;
      display: inline-block;
      padding: 0 0.2em;
      font-size: 12px;
      position: relative;
    }

    .EX,
    .EW,
    .CR,
    .NE,
    .DD,
    .LC {
      color: white;
    }
    .EN,
    .VU,
    .NT {
      color: black;
    }

    .EX {background: black;}
    .EW {background: black;}
    .CR {background: red;}
    .EN {background: orange;}
    .VU {background: yellow;}
    .NE {background: grey;}
    .DD {background: grey;}
    .NT {background: limegreen;}
    .LC {background: green;}
  }
}



/* -----------------------------------------------------------------------------
                                                            Taxa
*/
.taxonomy-term[data-vocabulary="taxa"] {
  .ol-map {
    width: 300px;
    height: 300px;
  }

  label {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  $field-guide-image-width: 170px;
  $field-guide-grid-gutter: 2px;
  $field-guide-show-width: $field-guide-image-width * 3 + ($field-guide-grid-gutter * 2);

  &[data-view-mode="field_guide"] {
    width: 940px;
    padding: 0;

    // For dev only
    a.block {
      display: none;
    }

    header.term,
    .tell {
      box-sizing: border-box;

      @media all and (min-width: 850px) {
        width: calc(100% - #{$field-guide-show-width});
        padding-left: 20px;
      }
    }
    header.term {
      padding-top: 0.7em;

      @media all and (min-width: 850px) {
        float: right;
      }

      div {
        display: inline;
      }
    }
    h2 {
      display: inline;
      font-size: 1.2em;
      font-weight: bold;
      // margin: 0.4em 0.5em;
    }

    // & > .show,
    // & > .show img {
    //   width: $field-guide-image-width;
    // }
    // & > .tell {
    //   width: auto;
    //   padding: 0;
    // }

    .show {
      display: block;
      text-align: center;

      @media all and (min-width: 550px) {
        & > * {
          display: table-cell;
          width: $field-guide-image-width;
          height: $field-guide-image-width;
          vertical-align: top;
        }
      }
      @media all and (min-width: 850px) {
        float: left;
        width: $field-guide-show-width;
      }
    }
    .tell {
      padding: 0 0 0.2em 20px;
      font-size: 0.75em;
      clear: both;
      display: block;

      @media all and (min-width: 850px) {
        clear: right;
        display: inline-block;
      }
    }

    .field-label-inline .field-label,
    .field-label-inline .field-items {
      display: inline;
      padding-bottom: 0;
    }
    .field-label {
      text-transform: uppercase;
    }

    .content {
      @include group;
    }
    .ol-map {
      // @extend .left;
      // width: $field-guide-image-width;
      // height: $field-guide-image-width;

      .ol-overlaycontainer-stopevent {
        display: none;
      }
    }
    .field-name-field-pictures,
    .field-name-field-range,
    .ol-map {
      border-left: solid $field-guide-grid-gutter white;
    }
    .field-name-field-pictures {
      @include group;
      // padding-left: $field-guide-grid-gutter;

      & > .field-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      & > .field-items > .field-item {
        width: ($field-guide-image-width - $field-guide-grid-gutter) / 2;
        height: ($field-guide-image-width - $field-guide-grid-gutter) / 2;
        // float: left;

        &:nth-child(n+3) {
          margin-top: $field-guide-grid-gutter;
        }
        &:nth-child(2n) {
          // margin-left: $field-guide-grid-gutter;
        }
      }
    }
    .field-name-field-range {
      // padding-left: $field-guide-grid-gutter;
    }
    .taxonomy-term-description {

      // @include overflow_fade(white, 1.4em * 3, 3em, 1.4em);

      .field-label,
      p:first-of-type {
        display: inline;
      }
      .field-label {
        padding-right: 0.8em;
      }
    }
    .field-name-field-etymology {
      // color: #5c5c5c;

      // @include overflow_fade(white, 1.4em * 2, 3em, 1.4em);
    }
    // .field-name-field-taxon-rank {
    //   font-weight: normal;
    //   font-style: italic;
    //   color: grey;
    //   font-size: 0.8em;
    // }
    .field-name-field-taxon-rank {
      position: relative;
      z-index: 10;
      background: grey;
      color: white;
      display: inline-block;
      padding: 0 0.2em;
      border-radius: 3px;
      text-transform: uppercase;
      text-align: center;
      width: 0.8em;
    }
  }



  &[data-view-mode="full"] {
    .field-name-field-taxon-rank {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 1em;
      color: grey;
    }
    .ol-map {
      width: auto;
      height: 500px;
    }
    .field-name-field-pictures {
      & > .field-items {
        @extend .cols-4;
      }
    }  
  }
}
.term-tree {
  ul {
    margin: 0;
    padding-left: 0.6em;

    li {
      list-style-type: disc;

      & + li {
        margin-top: 0;
      }
    }
  }
  ul.children {
    font-size: 0.9em;
  }
  & > ul {
    margin-left: 1em;
  }
}




/* -----------------------------------------------------------------------------
                                                            Localities
*/
.taxonomy-term[data-vocabulary="locality"] {
  &[data-view-mode="small"] {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .show {
      width: 300px;
      padding-right: 2em;
    }
  }
}




/* -----------------------------------------------------------------------------
                                                            Habitats
*/
.taxonomy-term.vocabulary-habitats {
  &[data-view-mode="teaser"] {
    .field {
      @include column(2, $gutter-narrow);
    }
    .field-label,
    .field-label + * {
      display: table-cell;
    }
    .field-label {
      width: 8em;
    }
  }
}